apiVersion: v1
kind: ServiceAccount
metadata:
  name: github-runner
  namespace: arc-runners
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: blockchain-access
  namespace: blockchain
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list", "create", "update", "patch"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["pods/log"]
  verbs: ["get"]
- apiGroups: [""]
  resources: ["pods/exec"]
  verbs: ["create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: github-runner-blockchain-access
  namespace: blockchain
subjects:
- kind: ServiceAccount
  name: github-runner
  namespace: arc-runners
roleRef:
  kind: Role
  name: blockchain-access
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: sharing-sbom-system-access
  namespace: sharing-sbom-system
rules:
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["pods/log"]
  verbs: ["get"]
- apiGroups: [""]
  resources: ["services"]
  verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: github-runner-sharing-sbom-system-access
  namespace: sharing-sbom-system
subjects:
- kind: ServiceAccount
  name: github-runner
  namespace: arc-runners
roleRef:
  kind: Role
  name: sharing-sbom-system-access
  apiGroup: rbac.authorization.k8s.io
