apiVersion: apps/v1
kind: Deployment
metadata:
  name: proof-orchestrator-service
  namespace: sharing-sbom-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: proof-orchestrator-service
  template:
    metadata:
      labels:
        app: proof-orchestrator-service
    spec:
      serviceAccountName: proof-orchestrator-service
      containers:
      - name: proof-orchestrator-service
        image: ghcr.io/tuberlin-blockchain-prototyping/sharing-sbom-system/proof-orchestrator-service:ec7c5ab
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
          name: http
        env:
        - name: PORT
          value: "8080"
        - name: HOST
          value: "0.0.0.0"
        - name: MERKLE_PROOF_SERVICE_URL
          value: "http://merkle-proof-service.sharing-sbom-system.svc.cluster.local:8090"
        - name: PROVING_SERVICE_URL
          value: "http://proving-service.sharing-sbom-system.svc.cluster.local:80"
        - name: IPFS_SERVICE_URL
          value: "http://ipfs-service.sharing-sbom-system.svc.cluster.local:80"
        - name: BLOCKCHAIN_CONTRACT_ADDRESS
          value: "0x5FbDB2315678afecb367f032d93F642f64180aa3"
        - name: BLOCKCHAIN_NAMESPACE
          value: "blockchain"
        - name: BLOCKCHAIN_SCRIPT_PATH
          value: "/workspace/store_merkle_proof.js"

